@use "../../styles/abstracts/mixins";
.brandsContainer {
    background-color: #287cfa;
    min-height: 30rem;
    justify-items: center;
    align-items: center;
    display: grid;
    padding: 20% 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: relative;
    overflow: hidden;
    @include mixins.respond(from-tab-land) {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(1, 1fr);
        padding: 3rem 16rem;
    }

    &__brand {
        display: flex;
        justify-content: center;
        align-items: center;
        @include mixins.respond(from-tab-land) {
            // width: 25rem;
        }
        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .x {
        position: absolute;
        left: 0;
        @include mixins.respond(from-tab-land) {
            height: 50rem;
            right: -12rem;
            left: initial;
            top: -25rem;
        }
    }
}
